<ion-view view-title="Monthly ranking">
	<ion-content>
		<div class="list">

			<div class="p-t-20"></div>

			<div class="row">
				<div class="col" style="text-align: right;">
					<img style="max-width: 120px;" src="img/ranking.png">
				</div>
				<div class="col col-center">
					<span class="f-30 f-b">Monthly Ranking</span>
				</div>
			</div>
		</div>
	
		<div class="list">

			<a class="item item-avatar" href="#">
				<img src="img/user.png">
				<small style="float: right;" class="f-20 f-b p-t-10">800 pts</small>
				<h2>Guilherme de Jesus Rafael</h2>
				<p>Dad</p>
			</a>
		</div>
	
	</ion-content>
</ion-view>